In [36]:
pwd

'C:\\Users\\Saurav\\Downloads'

In [37]:
import numpy as np
import pandas as pd

In [38]:
df = pd.read_excel (r'C:\\Users\\Saurav\\Downloads\ideasofindia.xlsx')

In [39]:
df.head()

,ID,Last_Name,Article_Title,Journal,Month,Year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0

In [40]:
df

,ID,Last_Name,Article_Title,Journal,Month,Year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0
...,...,...,...,...,...,...
305852,305852,Syed,[Reviews and Notices of Books] Islam and Zoroa...,CurrentThought(Madras),May,1925.0
305853,305853,Parpia,The Youth of India,VoiceofIndia(Washington),November,1945.0
305854,305854,Khan,An Urdu Poem,MuhammadanAnglo-OrientalCollegeMagazine,April,1893.0
305855,305855,Bahadur,Convocation Address,OsmaniaMagazine,June,1936.0
305856,305856,Avalov,Peace Making in Transcaucasia,AsiaticReview,January-October,1928.0

In [41]:
y=df['Article_Title']
z=str(y)
z
type(z)

str

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
import re

my=re.findall(r"[^\d]+",z)
x=' '.join(my)

In [44]:
cv=CountVectorizer(max_df=0.6,min_df=2,stop_words='english')

In [45]:
dtm=cv.fit_transform(df['Article_Title'].values.astype('U'))

In [46]:
len(df['Journal'].unique())

246

In [47]:
dtm

<305857x27298 sparse matrix of type '<class 'numpy.int64'>'
	with 1013299 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.decomposition import LatentDirichletAllocation

In [49]:
LDA=LatentDirichletAllocation(n_components=15,random_state=42)

In [50]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
                          evaluate_every=-1, learning_decay=0.7,
                          learning_method='batch', learning_offset=10.0,
                          max_doc_update_iter=100, max_iter=10,
                          mean_change_tol=0.001, n_components=15, n_jobs=None,
                          perp_tol=0.1, random_state=42, topic_word_prior=None,
                          total_samples=1000000.0, verbose=0)

In [51]:
len(cv.get_feature_names())

27298

In [52]:
for index, topic in enumerate(LDA.components_):
    print(f"The top 15 words for topic {index}")
    print([cv.get_feature_names()[i] for i in topic.argsort()[-15:]])

The top 15 words for topic 0
['mahatma', 'selections', 'land', 'hindu', 'tagore', 'culture', 'bengal', 'buddhism', 'home', 'gandhi', 'japan', 'muslim', 'editorial', 'women', 'education']
The top 15 words for topic 1
['contemporary', 'maharaja', 'policy', 'address', 'dr', 'reforms', 'thought', 'london', 'labour', 'mr', 'lord', 'late', 'recent', 'books', 'sir']
The top 15 words for topic 2
['food', 'christianity', 'training', 'report', 'resolutions', 'proceedings', 'international', 'assembly', 'philosophy', 'book', 'legislative', 'committee', 'review', 'council', 'congress']
The top 15 words for topic 3
['insurance', 'bengal', 'way', 'court', 'caste', 'village', 'rural', 'communal', 'life', 'vedanta', 'school', 'religious', 'story', 'work', 'political']
The top 15 words for topic 4
['gleanings', 'indian', 'politics', 'presidential', 'finance', 'america', 'swami', 'religion', 'service', 'address', 'comments', 'science', 'news', 'world', 'notes']
The top 15 words for topic 5
['king', 'constitution', 'buddha', 'future', 'ceylon', 'books', 'buddhist', 'students', 'ancient', 'history', 'china', 'old', 'modern', 'indian', 'new']
The top 15 words for topic 6
['viceroy', 'anglo', 'federation', 'message', 'supplement', 'affairs', 'poetry', 'great', 'congress', 'editor', 'literary', 'study', 'states', 'national', 'indian']
The top 15 words for topic 7
['child', 'month', 'conference', 'note', 'delhi', 'unity', 'burma', 'indian', 'agricultural', 'empire', 'islam', 'movement', 'marriage', 'art', 'hindu']
The top 15 words for topic 8
['tax', 'light', 'table', 'century', 'letters', 'library', 'miscellaneous', 'personal', 'letter', 'intelligence', 'law', 'progress', 'college', 'correspondence', 'mr']
The top 15 words for topic 9
['administration', 'press', 'meeting', 'punjab', 'act', 'reports', 'association', 'bengal', 'annual', 'indians', 'south', 'east', 'society', 'report', 'bombay']
The top 15 words for topic 10
['evolution', 'poet', 'temple', 'god', 'theory', 'case', 'appeal', 'woman', 'hindus', 'railway', 'budget', 'self', 'peace', 'man', 'government']
The top 15 words for topic 11
['army', 'britain', 'conference', 'ramakrishna', 'foreign', 'trade', 'league', 'industry', 'topics', 'sri', 'periodicals', 'economic', 'problem', 'british', 'india']
The top 15 words for topic 12
['second', 'reply', 'day', 'u009d', 'conference', 'mr', 'u2122', 'u201c', 'statement', 'speech', 'session', 'u201d', 'u2122s', 'u20ac', 'u00e2']
The top 15 words for topic 13
['japanese', 'diary', 'situation', 'kashmir', 'ii', 'europe', 'gita', 'industries', 'current', 'american', 'england', 'day', 'mysore', 'poem', 'war']
The top 15 words for topic 14
['economics', 'official', 'non', 'calcutta', 'industrial', 'educational', 'books', 'reform', 'critical', 'university', 'conference', 'literature', 'social', 'notices', 'reviews']

In [53]:
topic_res=LDA.transform(dtm)

In [54]:
topic_res.shape

(305857, 15)

In [55]:
topic_res[2].argmax()

14

In [61]:
df['topic']=topic_res.argmax(axis=1)

In [86]:
df

,ID,Last_Name,Article_Title,Journal,Month,Year,column1,topic,year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0,0,0,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0,0,0,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0,14,14,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0,4,4,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0,8,8,1903.0
...,...,...,...,...,...,...,...,...,...
305852,305852,Syed,[Reviews and Notices of Books] Islam and Zoroa...,CurrentThought(Madras),May,1925.0,14,14,1925.0
305853,305853,Parpia,The Youth of India,VoiceofIndia(Washington),November,1945.0,7,7,1945.0
305854,305854,Khan,An Urdu Poem,MuhammadanAnglo-OrientalCollegeMagazine,April,1893.0,3,3,1893.0
305855,305855,Bahadur,Convocation Address,OsmaniaMagazine,June,1936.0,1,1,1936.0
305856,305856,Avalov,Peace Making in Transcaucasia,AsiaticReview,January-October,1928.0,10,10,1928.0

In [80]:
df.head()

,ID,Last_Name,Article_Title,Journal,Month,Year,column1,topic,year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0,0,0,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0,0,0,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0,14,14,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0,4,4,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0,8,8,1903.0

In [136]:
df.to_excel(r'C:\\Users\\Saurav\\Downloads\iimb1.xlsx', index = False)

In [119]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("184",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("185",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("186",na=False)
tmo2=df[ra2]

om =pd.concat([tmo,tmo1],axis=0)
om =pd.concat([tmo1,tmo2],axis=0)


#ra3=df["Year"].str.startswith("187",na=False)
  #tmo3=df[ra3]

#ra4=df["Year"].str.startswith("188",na=False)
#tmo4=df[ra4]

#ra5=df["Year"].str.startswith("189",na=False)
#tmo5=df[ra5]#

In [120]:
om =pd.concat([tmo,tmo1],axis=0)
om =pd.concat([tmo1,tmo2],axis=0)

In [113]:
pr=df[ra]

In [115]:
pr

,ID,Last_Name,Article_Title,Journal,Month,Year,column1,topic,year
0,0,NaN,Ourselves,AligarhMonthly,January,1903.0,0,0,1903.0
1,1,Oxford Idler,Oxford Idling,AligarhMonthly,January,1903.0,0,0,1903.0
2,2,NaN,The Mahommedan Educational Conference,AligarhMonthly,February,1903.0,14,14,1903.0
3,3,NaN,General Notes,AligarhMonthly,February,1903.0,4,4,1903.0
4,4,NaN,Correspondence,AligarhMonthly,February,1903.0,8,8,1903.0
...,...,...,...,...,...,...,...,...,...
305845,305845,Bose,Exekiel's Lament,IndianLadies'Magazine,January,1904.0,5,5,1904.0
305846,305846,Bose,A Legend,IndianLadies'Magazine,May,1904.0,11,11,1904.0
305847,305847,Bose,Buddha's Return to His Palace Home,IndianLadies'Magazine,November,1905.0,10,10,1905.0
305848,305848,Bose,Women's Burden,IndianLadies'Magazine,June,1905.0,10,10,1905.0
305851,305851,Oldfiele,[Letters to the Editor] Food of Man (An Apprec...,MysoreReview,October,1905.0,8,8,1905.0

In [116]:
pr['topic'].value_counts()

4     2892
14    2693
0     2543
11    2523
5     2198
8     2009
3     1961
7     1929
6     1852
1     1831
9     1727
13    1719
10    1544
2     1381
12     717
Name: topic, dtype: int64

In [129]:
om['topic'].value_counts()

14    404
9     210
8     185
0     184
11    152
5     133
10    121
3     118
13    112
7     105
1     102
6     100
2      89
12     67
4      60
Name: topic, dtype: int64

In [122]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("187",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("188",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("189",na=False)
tmo2=df[ra2]

om1 =pd.concat([tmo,tmo1],axis=0)
om1 =pd.concat([tmo1,tmo2],axis=0)

In [123]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("190",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("191",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("192",na=False)
tmo2=df[ra2]

om2 =pd.concat([tmo,tmo1],axis=0)
om2 =pd.concat([tmo1,tmo2],axis=0)

In [124]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("193",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("194",na=False)
tmo1=df[raj]

raj=df["Year"].str.startswith("195",na=False)
tmo2=df[raj]

om3 =pd.concat([tmo,tmo1],axis=0)
om3 =pd.concat([tmo1,tmo2],axis=0)

In [125]:
df["Year"]=df["Year"].astype(str)
ra=df["Year"].str.startswith("196",na=False)
tmo=df[ra]

ra1=df["Year"].str.startswith("197",na=False)
tmo1=df[ra1]

ra2=df["Year"].str.startswith("198",na=False)
tmo2=df[ra2]

om4 =pd.concat([tmo,tmo1],axis=0)
om4 =pd.concat([tmo1,tmo2],axis=0)

In [130]:
om1['topic'].value_counts()

14    2787
9     2344
8     2135
0     2082
4     1932
5     1899
1     1606
11    1601
3     1539
10    1529
6     1460
7     1459
13    1199
2     1094
12     748
Name: topic, dtype: int64

In [131]:
om2['topic'].value_counts()

14    9103
0     8333
11    8145
4     7631
6     7250
5     6702
2     6511
13    6425
1     6346
9     6342
7     6005
10    5540
8     5540
3     5386
12    3900
Name: topic, dtype: int64

In [132]:
om3['topic'].value_counts()

11    5771
13    5277
0     4973
5     4662
2     4411
4     4404
1     4242
12    4213
10    4042
6     4023
3     3934
14    3892
7     3736
8     3361
9     3300
Name: topic, dtype: int64

In [133]:
om4['topic'].value_counts()

5     2
9     2
13    1
1     1
Name: topic, dtype: int64

In [135]:
om['topic'].value_counts()

14    404
9     210
8     185
0     184
11    152
5     133
10    121
3     118
13    112
7     105
1     102
6     100
2      89
12     67
4      60
Name: topic, dtype: int64